.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.link-title {
    text-decoration: none;
    Color: Red;
}

.pokemones-container{
    padding-top: 20px;
    text-align: center;
    color: red;
    padding-bottom: 20px;
}

